html { 
	font-family: "Helvetica Neue",Helvetica, sans-serif;
	/*谷歌浏览器字体最小字体12px*/
	-webkit-text-size-adjust: none;/*100%/none 关闭字体大小自动调整功能*/
	/*a标签及拥有 :active伪类的元素有默认的高亮框*/
	-webkit-tap-hightlight-color: transparent;
	/*禁止文本被选中*/
	-webkit-user-select: none;
	height: 100%;
}
body{
	overflow-x:hidden;
	height: 100%;
	/*开启moblie网页快速滚动和回弹的效果*/
	-webkit-overflow-scrolling: touch;
	font-size: 12px;
	font-family: "微软雅黑";
	overflow-x: hidden;
	-webkit-text-size-adjust: none !important;
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
	display: block;
	width: 100%;
	color: #333;
	text-decoration: none;
}
img{
	border: 0;
	display: block;
	width: 100%;
	vertical-align: middle;
}
input{
/*	-webkit-appearance: none;*/
	outline: none;
	border: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{
	content:"";
	display:block;
	width:100%;
	height:0;
	clear:both;
}
li,ol{
	list-style:none;
}

.sprite-icon{
	display:inline-block;
	background:url("../images/jd-sprites.png") no-repeat;
	background-size:200px 200px;
}
a.line,.topline{
	position: relative;/*重点*/
}
a.line:after,.topline:after{
	content: "";
	position: absolute;
	right: 0px;
	top: 0px;
}
.topline:after{
	height: 1px;
	width: 100%;
	-webkit-transform: scaleY(0.5);/*重点*/
	transform: scaleY(0.5);/*重点*/
	border-top: 1px solid #ccc;
}
a.line:after{
	height: 100%;
	width: 1px;
	border-right: 1px solid #ccc;
	-webkit-transform: scaleX(0.5);/*重点*/
	transform: scaleX(0.5);/*重点*/
}
a.addsty{
	position: relative;
}
a.addsty:before{
	content: "";
	position: absolute;
	left: -2px;
	top: 0px;
	height: 100%;
	width: 1px;
	border-right: 1px solid #ccc;
	-webkit-transform: scaleX(0.5);/*重点*/
	transform: scaleX(0.5);/*重点*/
}
@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    }
   h1,h2,h3,h4,h5,h6{
   	font-weight: normal;
   }
